<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button id=upload shiro:hasPermission="system:studyer:add" type="button" class="btn  btn-primary">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="system:studyer:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2">
							<input id="searchName4" type="text" class="form-control" placeholder="考核结果">
						</div>
						<div class="columns pull-right col-md-2">
							<input id="searchName3" type="text" class="form-control" placeholder="上传日期">
						</div>
						<div class="columns pull-right col-md-2">
							<input id="searchName2" type="text" class="form-control" placeholder="上传人员">
						</div>
						<div class="columns pull-right col-md-2">
							<input id="searchName" type="text" class="form-control" placeholder="文件名称">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_download_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:studyer:edit">
			<script type="text/javascript">
			   var s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:studyer:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:studyer:download">
			<script type="text/javascript">
				var s_download_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/studyer/studyer.js"></script>
</body>
</html>