<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="ID" name="ID" th:value="${fgshtdzk.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">文件标识：</label>
								<div class="col-sm-8">
									<input id="id" name="id" th:value="${fgshtdzk.id}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">文件路径：</label>
								<div class="col-sm-8">
									<input id="path" name="path" th:value="${fgshtdzk.path}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">文件名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${fgshtdzk.name}" class="form-control" type="text">
								</div>
							</div>
							<!--
							<div class="form-group">	
								<label class="col-sm-3 control-label">文件类型：</label>
								<div class="col-sm-8">
									<input id="type" name="type" th:value="${fgshtdzk.type}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">预留字段1：</label>
								<div class="col-sm-8">
									<input id="reserve1" name="reserve1" th:value="${fgshtdzk.reserve1}" class="form-control" type="text">
								</div>
							</div>
							-->
							<div class="form-group">	
								<label class="col-sm-3 control-label">上传机构：</label>
								<div class="col-sm-8">
									<input id="reserve4" name="reserve4" th:value="${fgshtdzk.reserve4}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">上传日期：</label>
								<div class="col-sm-8">
									<input id="reserve2" name="reserve2" th:value="${fgshtdzk.reserve2}" class="form-control" type="text">
								</div>
							</div>
							 
							<div class="form-group">	
								<label class="col-sm-3 control-label">版本：</label>
								<div class="col-sm-8">
									<input id="reserve3" name="reserve3" th:value="${fgshtdzk.reserve3}" class="form-control" type="text">
								</div>
							</div>
							<!-- 
							<div class="form-group">	
								<label class="col-sm-3 control-label">预留字段4：</label>
								<div class="col-sm-8">
									<input id="reserve4" name="reserve4" th:value="${fgshtdzk.reserve4}" class="form-control" type="text">
								</div>
							</div>
							
							<div class="form-group">	
								<label class="col-sm-3 control-label">预留字段5：</label>
								<div class="col-sm-8">
									<input id="reserve5" name="reserve5" th:value="${fgshtdzk.reserve5}" class="form-control" type="text">
								</div>
							</div>
							-->
							<div class="form-group">	
								<label class="col-sm-3 control-label">合同编号：</label>
								<div class="col-sm-8">
									<input id="htbh" name="htbh" th:value="${fgshtdzk.htbh}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">合同名称：</label>
								<div class="col-sm-8">
									<input id="htmc" name="htmc" th:value="${fgshtdzk.htmc}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">当事人名称：</label>
								<div class="col-sm-8">
									<input id="dsrmc" name="dsrmc" th:value="${fgshtdzk.dsrmc}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">合同标的额：</label>
								<div class="col-sm-8">
									<input id="htbde" name="htbde" th:value="${fgshtdzk.htbde}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">履行期限：</label>
								<div class="col-sm-8">
									<input id="lxqx" name="lxqx" th:value="${fgshtdzk.lxqx}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">违约情况：</label>
								<div class="col-sm-8">
									<input id="wyqk" name="wyqk" th:value="${fgshtdzk.wyqk}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">争议情况：</label>
								<div class="col-sm-8">
									<input id="zyqk" name="zyqk" th:value="${fgshtdzk.zyqk}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/htdzk/fgshtdzk/edit.js">
	</script>
</body>
</html>
