<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.DailyDao">

	<select id="get" resultType="com.bootdo.system.domain.DailyDO">
		select CNT_ID,PATH,NAME,TYPE,UPLOADER,RESERVE1,RESERVE2,RESERVE3,REPORTTYPE,RESERVE5 from act_daily_tb where CNT_ID = #{value}
	</select>

	<select id="list" resultType="com.bootdo.system.domain.DailyDO">
		select CNT_ID,PATH,NAME,TYPE,UPLOADER,RESERVE1,RESERVE2,RESERVE3,REPORTTYPE,RESERVE5 from act_daily_tb
        <where>
		  		  <if test="id != null and id != ''"> and CNT_ID = #{cntId} </if>
		  		  <if test="path != null and path != ''"> and PATH = #{path} </if>
		  		  <if test="name != null and name != ''"> and NAME LIKE '%'||#{name}||'%'  </if>
		  		  <if test="type != null and type != ''"> and TYPE = #{type} </if>
		  		  <if test="uploader != null and uploader != ''"> and UPLOADER LIKE '%'||#{uploader}||'%' </if>
		  		  <if test="reserve1 != null and reserve1 != ''"> and RESERVE1 LIKE '%'||#{reserve1}||'%' </if>
		  		  <if test="reserve2 != null and reserve2 != ''"> and RESERVE2 LIKE '%'||#{reserve2}||'%' </if>
		  		  <if test="reserve3 != null and reserve3 != ''"> and RESERVE3 LIKE '%'||#{reserve3}||'%' </if>
		  		  <if test="reportType != null and reportType != ''"> and REPORTTYPE LIKE '%'||#{reportType}||'%' </if>
		  		  <if test="reserve5 != null and reserve5 != ''"> and RESERVE5 LIKE '%'||#{reserve5}||'%' </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by RESERVE2 desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

 	<select id="count" resultType="int">
		select count(*) from act_daily_tb
		 <where>
		  		  <if test="id != null and id != ''"> and CNT_ID = #{cntId} </if>
		  		  <if test="path != null and path != ''"> and PATH = #{path} </if>
		  		  <if test="name != null and name != ''"> and NAME = #{name} </if>
		  		  <if test="type != null and type != ''"> and TYPE = #{type} </if>
		  		  <if test="uploader != null and uploader != ''"> and UPLOADER = #{uploader} </if>
		  		  <if test="reserve1 != null and reserve1 != ''"> and RESERVE1 = #{reserve1} </if>
		  		  <if test="reserve2 != null and reserve2 != ''"> and RESERVE2 = #{reserve2} </if>
		  		  <if test="reserve3 != null and reserve3 != ''"> and RESERVE3 = #{reserve3} </if>
		  		  <if test="reportType != null and reportType != ''"> and REPORTTYPE = #{reportType} </if>
		  		  <if test="reserve5 != null and reserve5 != ''"> and RESERVE5 = #{reserve5} </if>
		  		</where>
	</select>

	<insert id="save" parameterType="com.bootdo.system.domain.DailyDO">
		insert into act_bak
		(
			CNT_ID,
			PATH,
			NAME,
			TYPE,
			UPLOADER,
			RESERVE1,
			RESERVE2,
			RESERVE3,
			REPORTTYPE,
			RESERVE5
		)
		values
		(
			#{cntId},
			#{path},
			#{name},
			#{type},
			#{uploader},
			#{reserve1},
			#{reserve2},
			#{reserve3},
			#{reportType},
			date_format(now(),'%Y-%m-%d')
		)

	</insert>

	<update id="update" parameterType="com.bootdo.system.domain.DailyDO">
		update act_daily_tb
		<set>
			<if test="path != null">PATH = #{path}, </if>
			<if test="name != null">NAME = #{name}, </if>
			<if test="type != null">TYPE = #{type}, </if>
			<if test="uploader != null">UPLOADER = #{uploader}, </if>
			<if test="reserve1 != null">RESERVE1 = #{reserve1}, </if>
			<if test="reserve2 != null">RESERVE2 = #{reserve2}, </if>
			<if test="reserve3 != null">RESERVE3 = #{reserve3}, </if>
			<if test="reportType != null">REPORTTYPE = #{reportType}, </if>
			<if test="reserve5 != null">RESERVE5 = #{reserve5}</if>

		</set>
		where CNT_ID = #{cntId}
	</update>

	<delete id="remove">
		delete from act_daily_tb where CNT_ID = #{value}
	</delete>

	<delete id="batchRemove">
		delete from act_daily_tb where CNT_ID in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>
