<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="countersign" name="countersign" th:value="${countersign}"  type="hidden">
						<input id="comment_file" name="comment_file" th:value="${comment_file}"  type="hidden">
						<input id="cntId" name="cntId" th:value="${tbContactInfo.cntId}"  type="hidden">
						<input id="taskId" name="taskId" th:value="${tbContactInfo.taskId}" type="hidden">
						<div class="form-group">	
								<label class="col-sm-2 control-label">名称：</label>
								<div class="col-sm-8">
						            <input id="cntName" name="cntName" th:value="${tbContactInfo.cntName}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
	                        <div class="form-group">
	                            <label class="col-sm-2 control-label">流程实例ID：</label>
	                            <div class="col-sm-4">
	                                <input id="procInsId" name="procInsId" th:value="${tbContactInfo.procInsId}"
	                                       class="form-control" type="text" readonly="readonly">
	                            </div>
								<label class="col-sm-2 control-label">律师姓名：</label>
								<div class="col-sm-4">
									<input id="sqr" name="sqr" th:value="${tbContactInfo.sqr}" class="form-control" type="text" readonly="readonly">
								</div>
	                        </div>
							<div class="form-group">	
								<!-- <label class="col-sm-2 control-label">申请机构：</label>
								<div class="col-sm-4">
									<input id="site" name="site" th:value="${tbContactInfo.site}" class="form-control" type="text" readonly="readonly">
								</div>-->
								<label class="col-sm-2 control-label">律师事务所名称：</label>
								<div class="col-sm-4">
									<input id="dw" name="dw" th:value="${tbContactInfo.dw}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">住所地：</label>
								<div class="col-sm-4">
									<input id="add" name="add" th:value="${tbContactInfo.add}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">电话：</label>
								<div class="col-sm-4">
									<input id="phone" name="phone" th:value="${tbContactInfo.phone}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
							
								<label class="col-sm-2 control-label">律所律师人数：</label>
								<div class="col-sm-4">
									<input id="sl" name="sl" th:value="${tbContactInfo.sl}" class="form-control" type="text" readonly="readonly">
								</div>
								<label class="col-sm-2 control-label">金融律师人数：</label>
								<div class="col-sm-4">
									<input id="jrsl" name="jrsl" th:value="${tbContactInfo.jrsl}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">是否有行政处罚及行业处分等不良记录：</label>
								<div class="col-sm-4">
									<input id="cntReserve4" name="cntReserve4" th:value="${tbContactInfo.cntReserve4}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">相关资料附件：</label>
								<div class="col-sm-8">
									<table id="filelist_edit" data-mobile-responsive="true"></table>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-2 control-label">历史批注：</label>
								<div class="col-sm-8">
									<table id="comments" data-mobile-responsive="true"></table>
								</div>
							</div>
							<div class="form-group" id="comment_filelist_formgroup">	
								<label class="col-sm-2 control-label">批注附件：</label>
								<div class="col-sm-8">
									<button type="button" class="layui-btn" id="test3">
 										<i class="fa fa-cloud"></i>上传文件
                        			</button>
									<table id="comment_filelist" data-mobile-responsive="true"></table>
								</div>
							</div>
							<!--
							<div class="form-group" id="cntReserve2_formgroup">
								<label class="col-sm-2 control-label">是否会签：</label>
								<div class="switch onoffswitch col-sm-1">
									<div class="onoffswitch">
										<input id="cntReserve2" name="cntReserve2" checked="" type="checkbox" class="onoffswitch-checkbox" >
										<label class="onoffswitch-label" for="cntReserve2">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group" id="cntReserve1_formgroup">
								<label class="col-sm-2 control-label">会签部门：</label>
								<div class="col-sm-8">
									<input id="cntReserve1" name="cntReserve1" class="hidden"> 
									<input id="deptName" name="deptName" class="form-control" type="text" style="cursor: pointer;" onclick="openDept()" required readonly="readonly" placeholder="会签部门">
								</div>
							</div>
							 -->
	                        <div class="form-group">
	                            <label class="col-sm-2 control-label">您的意见：</label>
								<div class="col-sm-8">
									<textarea id="taskComment" name="taskComment" class="form-control" rows="3" required></textarea>
								</div>
	                        </div>
	                        <input id="taskPass" name="taskPass" class="hidden">
	                        <div class="form-group">
	                            <div class="col-sm-8 col-sm-offset-3">
	                                <button type="submit" class="btn btn-primary" onclick="$('#taskPass').val('1')">提交
	                                </button>
	                                <button type="submit" class="btn btn-warning" onclick="$('#taskPass').val('0')">退回
	                                </button>
	                            </div>
	                        </div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/contact/tbContactInfo/edit.js"></script>
	<script type="text/javascript" src="/js/appjs/contact/tbContactInfo/filelist_edit.js"></script>
	<script type="text/javascript" src="/js/appjs/contact/tbContactInfo/comment_filelist.js"></script>
	<script type="text/javascript" src="/js/appjs/contact/tbContactInfo/comments1.js"></script>
</body>
</html>
